table {
    table-layout: fixed;
    border-collapse: collapse;
    border-top: 2px inset;
    border-bottom: 2px inset;
}
thead th:nth-child(1){
    width: 40%;
}

thead th:nth-child(2){
    width: 10%;
}

thead th:nth-child(3){
    width: 15%;
}

thead th:nth-child(4){
    width: 35%;
}

tbody tr:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.2);
}

col:nth-child(1){
    text-align: left;
}

tfoot {
    border-top: 2px inset;
}

thead th:nth-child(1),
tbody tr th:nth-child(1),
thead th:nth-child(4),
tbody tr td:nth-child(4){
    text-align: left;
    padding-left: 1em;
}

thead th:nth-child(2),
tbody tr th:nth-child(2),
thead th:nth-child(3),
tbody tr td:nth-child(3){
    text-align: right;
}